<html>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
  />

  <!-- 부가적인 테마 -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
  />

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/page/rooms">Rooms</a></li>
        <li role="presentation"><a href="/page/users">Users</a></li>
        <li role="presentation" class="active"><a href="/page/friends1">Friends</a></li>
        <li role="presentation"><a href="/logout">Logout</a></li>
      </ul>
      <br />
      <br />
      <h3>Friends(목록)</h3>
      <h3><a href="friends1">수신함 </a></h3>
      <h3><a href="friends2">목록 </a></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>유저id</th>
            <th>가입날짜</th>
            <th>친구삭제</th>
            <th>DM</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0;i < data.length;i++){ %>
          <tr>
            <td><%= data[i].str %></td>
            <td><%= data[i].created %></td>
            <td>
              <form action="/friend-delete" method="post">
                <input type="hidden" name="uid" value="<%= data[i].str %>" />
                <input type="submit" value="친구삭제" />
              </form>
            </td>
            <td>
              <a
                href="/page/dm/<%= data[i].str>uid ? `${data[i].str+uid}?opponentId=${data[i].str}` : `${uid+data[i].str}?opponentId=${data[i].str}`  %>"
                >입장</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
